.wrapper {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
	gap: 2.5rem 2rem;
	place-content: center;
	padding: 3rem 2rem 3rem;
	li {
		overflow: hidden;
	}
}
.img_wrapper {
	width: 100%;
	border-radius: 0.5rem;
	overflow: hidden;
	img {
		transition: 0.4s;
		&:hover {
			transform: scale(1.05);
		}
	}
}
.name {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2.3rem;
	font-weight: 600;
	color: #fff;
	padding-top: 1.5rem;
}
