.wrapper {
	padding-top: 80px;
	width: 400px;
	margin: 0 auto;
	color: #fff;
	text-align: center;
	text-shadow: 0 0 5px;
}
.errorImg {
	width: 400px;
	margin: 0 auto;
}
.title {
	font-size: 100px;
	font-weight: 600;
}
.text {
	font-size: 60px;
	font-weight: 600;
}
