.wrapper {
	padding-top: 8rem;
	width: 40rem;
	margin: 0 auto;
	color: #fff;
	text-align: center;
	text-shadow: 0 0 2px;
}
.errorImg {
	width: 40rem;
	margin: 0 auto;
}
.title {
	font-family: "Climate Crisis", cursive;
	font-size: 10rem;
}
.text {
	font-size: 5rem;
	font-weight: 600;
}
