.button {
	z-index: 1;
	padding: .7rem 1rem;
	min-width: 8rem;
	border-radius: .5rem;
	color: #fff;
	letter-spacing: 0.1em;
	border: 1px solid #fff;
	background-color: transparent;
	cursor: pointer;
	transition: 0.3s;
	&:hover {
		color: #bc3b93;
		border: 1px solid #bc3b93;
		border-radius: .4rem;
	}
}
:disabled {
	opacity: 0.5;
	cursor:default;
}
