.wrapper {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
	gap: 2rem 1.5rem;
	place-content: center;
	padding-left: 0;
	padding-top: 1rem;
	li {
		overflow: hidden;
		cursor: pointer;
		a {
			display: flex;
		}
	}
}
.personImg {
	width: 30%;
	height: 13rem;
	object-fit: cover;
	object-position: center;
	margin-right: 2rem;
	border-radius: 0.3rem;
}
.name {
	font-size: 1.8rem;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 1rem;
}
