.wrapper {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	gap: 20px 15px;
	place-content: center;
	padding-left: 0;
	padding-top: 10px;
	li {
		overflow: hidden;
		cursor: pointer;
		a {
			display: flex;
		}
	}
}
.personImg {
	width: 30%;
	height: 130px;
	object-fit: cover;
	object-position: center;
	margin-right: 20px;
}
.name {
	font-size: 18px;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 10px;
}
