.wrapper {
	display: flex;
	column-gap: 4rem;
	color: #fff;
}
.imgWrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 27rem;
	overflow: hidden;
	font-size: 2.4rem;
	border-radius: 0.5rem;
	color: #222;
	cursor: pointer;
	text-align: center;
	p {
		margin-top: 0.5rem;
		color: #000;
		font-size: 2.4rem;
	}
}
.personPicture {
	width: 100%;
	object-fit: cover;
	object-position: top center;
}
.name {
	color: #fff;
	font-weight: 600;
	padding-top: 1.5rem;
	font-size: 2.8rem;
}
.favoriteBtn {
	position: absolute;
	right: 1rem;
	top: 1rem;
	width: 3rem;
	height: 3rem;
	overflow: hidden;
	display: block;
	transition: 0.3s;
	cursor: pointer;
	&:hover {
		transform: scale(1.3);
	}
}

.PersonInfo {
	display: flex;
	flex-direction: column;
	row-gap: 1rem;
	padding-top: 3rem;
	font-size: 2.2rem;
	span {
		color: #dbd6d6;
	}
}
.goBack {
	position: relative;
	display: inline-block;
	color: #fff;
	cursor: pointer;
	font-size: 2.4rem;
	padding: 0.7rem 1rem;
	margin-bottom: 2.5rem;
	border: 1px solid #bc3b93;
	border-radius: 0.4rem;
	background-color: transparent;
	padding-left: 3.7rem;
	&::before {
		position: absolute;
		content: "";
		left: 0;
		top: 50%;
		transform: translateY(-50%);
		background: url("./../../assets/img/left-arrow.svg") no-repeat;
		width: 3rem;
		height: 3rem;
	}
}
