.wrapper {
	display: flex;
	align-items: center;
	padding: 1.5rem 1rem 3rem;
}
.logo {
	width: 6rem;
	height: 6rem;
	transition: 0.3s;
	margin-right: 6rem;

	&:hover {
		transform: scale(1.1);
	}
}
.menu {
	margin: 0;
	padding: 0;
}
.menuList {
	display: flex;
	justify-content: space-between;
	align-items: center;
	column-gap: 3.2rem;
	font-size: 2.2rem;
}
.menuLink {
	display: flex;
	justify-content: center;
	min-width: 7rem;
	padding: 1rem 0.7rem;
	color: #fff;
	font-weight: 600;
	transition: 0.3s;
	border: 1px solid transparent;
	text-shadow: 0 0 1rem;

	&:hover {
		color: #e178c0;
		border: 1px solid #e178c0;
		border-radius: 4px;
	}
}

.menuLink:global(.active) {
	color: #bc3b93;
	border: 1px solid #bc3b93;
	border-radius: 4px;
}
.favorites {
	position: relative;
	width: 5rem;
	height: 5rem;
	margin-left: auto;
	cursor: pointer;
	transition: 0.3s;
	&:hover {
		transform: scale(1.1);
	}
}
.favoriteCounter {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 600;
	width: 2rem;
	height: 2rem;
	right: 0;
	top: 0;
	background-color: #fff;
	color: #bc3b93;
	cursor: pointer;
	border-radius: 50%;
}
