//vars
$theme-bg-default: url(./assets/img/bg.jpg);
$theme-bg-light: url(./assets/img/bg-light.jpg);

.App {
	font-size: 1.2rem;
	padding: 4rem;
	background-color: #121111;
	background-image: $theme-bg-default;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top left;
	background-attachment: fixed;
	min-height: 100dvh;
}
.App.light {
	background-image: $theme-bg-light;
}
.header {
	font-size: 1.3rem;
}
