//vars
$theme-default: url(./assets/img/bg.jpg);

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
body {
	background-color: #121111;
	font-family: Arial, Helvetica, sans-serif;
	background-image: $theme-default;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top left;
	background-attachment: fixed;
}
img {
	display: block;
	vertical-align: top;
}
a {
	text-decoration: none;
	color: inherit;
}
li{
	list-style-type: none;
}
